@import "colors";

.error-panel {
    border: 1px solid $hopbush;
    border-radius: 3px;

    div {
        padding: 5px;
    }

    .header {
        background-color: $dawn-pink;
        border-bottom: 1px solid $hopbush;
        h3 {
            margin: 0;
        }
    }
}
