.definition-column {
    padding: 5px 5px;
}

.quote {
    background-color: #eceeef;
    border-radius: .3rem;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

.synonym {
    color: blue;
}

.header {
    color: #85144b;
    margin-bottom: 10px;
    font-size: large;
    padding-left: 5px;
}

