@import "colors";
@import "mediaSizes";

body {
    background-color: #f9f9f9;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.entry-column {
    padding: 5px 5px;
}

.quote {
    background-color: #eceeef;
    border-radius: .3rem;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

.synonym {
    color: blue;
}

.header {
    color: #85144b;
    margin-bottom: 10px;
    font-size: large;
    padding-left: 5px;
}

.row {
    display: flex;
    @media (min-width: $screen-sm-min) {
        flex-direction: row;
    }
    @media (max-width: $screen-sm-min) {
        flex-direction: column-reverse;
    }
}

.column {
    margin-left: 10px;
}

button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    background-color: $nebula;
    white-space: nowrap;
    &:hover {
        background-color: darken($nebula, 20%);
    }
}

ul {
    list-style-type: none;
}
