.transcription {
    display: inline;
    margin-left: 5px;
    color: #59729f;
}

ul.pronunciations {
    padding: 5px 5px;
    li {
        display: inline-block;
        padding: 5px;
    }
}

.details {
    display: inline;
}

